@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 49.66 44.62% 87.25%;
    --foreground: 0 0% 3.92%;
    --card: 203.48 56.10% 83.92%;
    --card-foreground: 0 0% 3.92%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.92%;
    --primary: 0 0% 9.02%;
    --primary-foreground: 0 0% 98.04%;
    --secondary: 0 0% 96.08%;
    --secondary-foreground: 0 0% 9.02%;
    --muted: 0 0% 96.08%;
    --muted-foreground: 0 0% 45.10%;
    --accent: 0 0% 96.08%;
    --accent-foreground: 0 0% 9.02%;
    --destructive: 0 84.24% 60.20%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 0 0% 89.80%;
    --input: 0 0% 89.80%;
    --ring: 0 0% 3.92%;
    --chart-1: 11.92 75.88% 60.98%;
    --chart-2: 173.22 57.79% 39.02%;
    --chart-3: 197.33 36.59% 24.12%;
    --chart-4: 43.13 73.56% 65.88%;
    --chart-5: 27.12 86.90% 67.06%;
    --sidebar: 0 0% 98.50%;
    --sidebar-foreground: 0 0% 14.50%;
    --sidebar-primary: 0 0% 20.50%;
    --sidebar-primary-foreground: 0 0% 98.50%;
    --sidebar-accent: 0 0% 97%;
    --sidebar-accent-foreground: 0 0% 20.50%;
    --sidebar-border: 0 0% 92.20%;
    --sidebar-ring: 0 0% 70.80%;
    --font-sans: Poppins, sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: Geist Mono, monospace;
    --radius: 0rem;
    --shadow-2xs: 5px 5px 3px 0px hsl(0 0% 0% / 0.50);
    --shadow-xs: 5px 5px 3px 0px hsl(0 0% 0% / 0.50);
    --shadow-sm: 5px 5px 3px 0px hsl(0 0% 0% / 1.00), 5px 1px 2px -1px hsl(0 0% 0% / 1.00);
    --shadow: 5px 5px 3px 0px hsl(0 0% 0% / 1.00), 5px 1px 2px -1px hsl(0 0% 0% / 1.00);
    --shadow-md: 5px 5px 3px 0px hsl(0 0% 0% / 1.00), 5px 2px 4px -1px hsl(0 0% 0% / 1.00);
    --shadow-lg: 5px 5px 3px 0px hsl(0 0% 0% / 1.00), 5px 4px 6px -1px hsl(0 0% 0% / 1.00);
    --shadow-xl: 5px 5px 3px 0px hsl(0 0% 0% / 1.00), 5px 8px 10px -1px hsl(0 0% 0% / 1.00);
    --shadow-2xl: 5px 5px 3px 0px hsl(0 0% 0% / 2.50);
  }
  
  .dark {
    --background: 0 0% 3.92%;
    --foreground: 0 0% 98.04%;
    --card: 0 0% 3.92%;
    --card-foreground: 0 0% 98.04%;
    --popover: 0 0% 3.92%;
    --popover-foreground: 0 0% 98.04%;
    --primary: 0 0% 98.04%;
    --primary-foreground: 0 0% 9.02%;
    --secondary: 0 0% 14.90%;
    --secondary-foreground: 0 0% 98.04%;
    --muted: 0 0% 14.90%;
    --muted-foreground: 0 0% 63.92%;
    --accent: 0 0% 14.90%;
    --accent-foreground: 0 0% 98.04%;
    --destructive: 0 62.82% 30.59%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 0 0% 14.90%;
    --input: 0 0% 14.90%;
    --ring: 0 0% 83.14%;
    --chart-1: 219.89 70.20% 50%;
    --chart-2: 160 60% 45.10%;
    --chart-3: 30.00 80% 54.90%;
    --chart-4: 280 64.71% 60%;
    --chart-5: 339.77 74.78% 54.90%;
    --sidebar: 240 5.90% 10%;
    --sidebar-foreground: 240 4.80% 95.90%;
    --sidebar-primary: 224.30 76.30% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.70% 15.90%;
    --sidebar-accent-foreground: 240 4.80% 95.90%;
    --sidebar-border: 240 3.70% 15.90%;
    --sidebar-ring: 240 4.90% 83.90%;
    --font-sans: Poppins, sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: Geist Mono, monospace;
    --radius: 0rem;
    --shadow-2xs: 5px 5px 3px 0px hsl(0 0% 0% / 0.50);
    --shadow-xs: 5px 5px 3px 0px hsl(0 0% 0% / 0.50);
    --shadow-sm: 5px 5px 3px 0px hsl(0 0% 0% / 1.00), 5px 1px 2px -1px hsl(0 0% 0% / 1.00);
    --shadow: 5px 5px 3px 0px hsl(0 0% 0% / 1.00), 5px 1px 2px -1px hsl(0 0% 0% / 1.00);
    --shadow-md: 5px 5px 3px 0px hsl(0 0% 0% / 1.00), 5px 2px 4px -1px hsl(0 0% 0% / 1.00);
    --shadow-lg: 5px 5px 3px 0px hsl(0 0% 0% / 1.00), 5px 4px 6px -1px hsl(0 0% 0% / 1.00);
    --shadow-xl: 5px 5px 3px 0px hsl(0 0% 0% / 1.00), 5px 8px 10px -1px hsl(0 0% 0% / 1.00);
    --shadow-2xl: 5px 5px 3px 0px hsl(0 0% 0% / 2.50);
  }
  
  
  
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight;
  }
  h1 {
    @apply text-5xl md:text-6xl;
  }
  h2 {
    @apply text-3xl md:text-4xl;
  }
  h3 {
    @apply text-2xl md:text-3xl;
  }
}

.card-blue {
  @apply bg-blue-200 text-black;
}

.card-green {
  @apply bg-green-200 text-black;
}

.card-pink {
  @apply bg-pink-200 text-black;
}

.card-yellow {
  @apply bg-yellow-300 text-black;
}
